<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspProfile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspProfile.styles.css" asp-append-version="true" />
</head>
<body style="width: 100vw; height: 100vh; margin: 0; padding: 0;" class="d-flex align-items-center justify-content-center flex-column">
    <div class="container d-flex justify-content-center">
        <main role="main" class="pb-3">
            @RenderBody()

            @if (TempData["Message"] != null)
            {
                <p class="text-danger mt-3" style="text-align: center">@TempData["Message"]!</p>
            }
        </main>
    </div>

    <footer style="width: 100%; text-align: center;" class="border-top p-4 text-muted position-absolute bottom-0" style="text-align: center">
        <div class="container">
            &copy; 2026 - AspProfile - Mardson581</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
