<div class="text-center">
    <h1 class="display-4">Fazer Login</h1>
    <form action="/login" method="POST">
        <input type="email" placeholder="Insira o Email" name="Email" />
        <input type="password" placeholder="Insira a Senha" name="Password" />
        <input class="btn btn-primary" type="submit" value="Login" />
    </form>
</div>